# 1. What advantages do Excel spreadsheets have over CSV spreadsheets?

1. Spreadsheets require minimal training.
2. Spreadsheets are customizable.
3. large files user is much easier in Excel for the end user. Also, 
    you can have additional functions like selecting individual cells for import, 
    convert dates and time automatically, reading formulas and their results, filters, sorting, etc
4. Itâ€™s easy to manipulate and analyze data.
5. You can integrate spreadsheets with certain tools.

# 2.What do you pass to csv.reader() and csv.writer() to create reader and writer objects?

we pass a File object, obtained from a call to open().

In [2]:
import csv
openfile = open('aug_test.csv')
reader = csv.reader(openfile)
data = list(reader)
data

[['enrollee_id',
  'city',
  'city_development_index',
  'gender',
  'relevent_experience',
  'enrolled_university',
  'education_level',
  'major_discipline',
  'experience',
  'company_size',
  'company_type',
  'last_new_job',
  'training_hours'],
 ['32403',
  'city_41',
  '0.8270000000000001',
  'Male',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '9',
  '<10',
  '',
  '1',
  '21'],
 ['9858',
  'city_103',
  '0.92',
  'Female',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '5',
  '',
  'Pvt Ltd',
  '1',
  '98'],
 ['31806',
  'city_21',
  '0.624',
  'Male',
  'No relevent experience',
  'no_enrollment',
  'High School',
  '',
  '<1',
  '',
  'Pvt Ltd',
  'never',
  '15'],
 ['27385',
  'city_13',
  '0.8270000000000001',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '11',
  '10/49',
  'Pvt Ltd',
  '1',
  '39'],
 ['27724',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '10000+',
  'Pvt Ltd',
  '>4',
  '72'],
 ['217',
  'city_23',
  '0.899',
  'Male',
  'No relevent experience',
  'Part time course',
  'Masters',
  'STEM',
  '10',
  '',
  '',
  '2',
  '12'],
 ['21465',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '<1',
  '100-500',
  'Pvt Ltd',
  '1',
  '11'],
 ['27302',
  'city_160',
  '0.92',
  'Female',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '',
  '',
  '>4',
  '81'],
 ['12994',
  'city_173',
  '0.878',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '14',
  '',
  '',
  '4',
  '2'],
 ['16287',
  'city_21',
  '0.624',
  'Male',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  '',
  '3',
  '50-99',
  'Funded Startup',
  '1',
  '4'],
 ['10856',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'Other',
  '>20',
  '',
  '',
  '>4',
  '196'],
 ['9272',
  'city_90',
  '0.698',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '20',
  '10/49',
  'Pvt Ltd',
  '2',
  '51'],
 ['14249',
  'city_46',
  '0.762',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '8',
  '100-500',
  'Other',
  'never',
  '48'],
 ['24372',
  'city_98',
  '0.9490000000000001',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '4',
  '100-500',
  'Pvt Ltd',
  '1',
  '134'],
 ['14070',
  'city_103',
  '0.92',
  '',
  'No relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '5',
  '',
  '',
  'never',
  '10'],
 ['24914',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '13',
  '1000-4999',
  'Pvt Ltd',
  '1',
  '125'],
 ['7865',
  'city_21',
  '0.624',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '4',
  '100-500',
  'Pvt Ltd',
  '1',
  '4'],
 ['7463',
  'city_13',
  '0.8270000000000001',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'Business Degree',
  '2',
  '50-99',
  'Pvt Ltd',
  '1',
  '31'],
 ['21514',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '6',
  '',
  'Pvt Ltd',
  '4',
  '23'],
 ['29033',
  'city_21',
  '0.624',
  'Male',
  'No relevent experience',
  'Full time course',
  '',
  '',
  '2',
  '',
  '',
  'never',
  '110'],
 ['15359',
  'city_103',
  '0.92',
  '',
  'No relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '2',
  '',
  '',
  'never',
  '74'],
 ['16001',
  'city_103',
  '0.92',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '7',
  '10000+',
  '',
  '1',
  '44'],
 ['25202',
  'city_21',
  '0.624',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '6',
  '1000-4999',
  'Pvt Ltd',
  '3',
  '33'],
 ['5058',
  'city_103',
  '0.92',
  'Male',
  'No relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '1',
  '',
  '',
  '1',
  '81'],
 ['23570',
  'city_118',
  '0.722',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '19',
  '100-500',
  'Pvt Ltd',
  '>4',
  '19'],
 ['19139',
  'city_103',
  '0.92',
  'Female',
  'Has relevent experience',
  'Part time course',
  'Graduate',
  'STEM',
  '15',
  '',
  'Public Sector',
  '>4',
  '48'],
 ['9548',
  'city_114',
  '0.9259999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '50-99',
  'Pvt Ltd',
  '>4',
  '65'],
 ['8799',
  'city_103',
  '0.92',
  'Male',
  'No relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '6',
  '',
  'Public Sector',
  '1',
  '46'],
 ['11113',
  'city_134',
  '0.698',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '16',
  '',
  'Pvt Ltd',
  '1',
  '78'],
 ['19437',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '3',
  '10/49',
  'Pvt Ltd',
  '',
  '105'],
 ['394',
  'city_73',
  '0.754',
  '',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '5',
  '50-99',
  'Pvt Ltd',
  '1',
  '29'],
 ['7683',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '5',
  '',
  '',
  '1',
  '10'],
 ['22849',
  'city_116',
  '0.743',
  '',
  'Has relevent experience',
  'no_enrollment',
  '',
  '',
  '',
  '50-99',
  'Pvt Ltd',
  'never',
  '12'],
 ['17189',
  'city_21',
  '0.624',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '7',
  '10000+',
  'Pvt Ltd',
  '4',
  '43'],
 ['28610',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '50-99',
  'Pvt Ltd',
  '>4',
  '18'],
 ['25608',
  'city_165',
  '0.903',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '17',
  '50-99',
  'Pvt Ltd',
  '>4',
  '8'],
 ['22139',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'Part time course',
  'Graduate',
  'STEM',
  '>20',
  '100-500',
  'Pvt Ltd',
  '>4',
  '8'],
 ['19644',
  'city_61',
  '0.9129999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '10000+',
  'Pvt Ltd',
  '>4',
  '145'],
 ['18517',
  'city_21',
  '0.624',
  '',
  'No relevent experience',
  'Full time course',
  'Masters',
  'STEM',
  '<1',
  '10/49',
  'Pvt Ltd',
  '1',
  '22'],
 ['12835',
  'city_136',
  '0.897',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '<10',
  'Early Stage Startup',
  '1',
  '9'],
 ['20178',
  'city_45',
  '0.89',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '13',
  '',
  'Public Sector',
  '1',
  '20'],
 ['25855',
  'city_103',
  '0.92',
  'Female',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'Arts',
  '4',
  '50-99',
  'Pvt Ltd',
  '1',
  '20'],
 ['32126',
  'city_160',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '16',
  '100-500',
  'Pvt Ltd',
  '4',
  '130'],
 ['22753',
  'city_104',
  '0.924',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '50-99',
  'Pvt Ltd',
  '2',
  '3'],
 ['18133',
  'city_103',
  '0.92',
  'Male',
  'No relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '1',
  '',
  '',
  '1',
  '23'],
 ['29242',
  'city_21',
  '0.624',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '5',
  '100-500',
  'Pvt Ltd',
  '1',
  '49'],
 ['6312',
  'city_160',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '',
  '',
  '1',
  '270'],
 ['113',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '6',
  '1000-4999',
  'Pvt Ltd',
  '1',
  '23'],
 ['14685',
  'city_114',
  '0.9259999999999999',
  'Male',
  'No relevent experience',
  'Full time course',
  'Masters',
  'STEM',
  '3',
  '10/49',
  'Pvt Ltd',
  '1',
  '35'],
 ['20768',
  'city_90',
  '0.698',
  'Male',
  'No relevent experience',
  'Full time course',
  'High School',
  '',
  '2',
  '',
  '',
  'never',
  '87'],
 ['25906',
  'city_28',
  '0.9390000000000001',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '19',
  '50-99',
  'Pvt Ltd',
  '1',
  '37'],
 ['20142',
  'city_104',
  '0.924',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '10',
  '50-99',
  'Pvt Ltd',
  '1',
  '158'],
 ['25891',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '10000+',
  'Pvt Ltd',
  '>4',
  '8'],
 ['4742',
  'city_149',
  '0.6890000000000001',
  '',
  'No relevent experience',
  'no_enrollment',
  '',
  '',
  '2',
  '',
  '',
  '',
  '114'],
 ['2222',
  'city_105',
  '0.794',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'Business Degree',
  '14',
  '100-500',
  'Pvt Ltd',
  '1',
  '15'],
 ['16917',
  'city_103',
  '0.92',
  '',
  'No relevent experience',
  'Full time course',
  'High School',
  '',
  '1',
  '',
  '',
  '1',
  '48'],
 ['10493',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '8',
  '1000-4999',
  'Pvt Ltd',
  '2',
  '40'],
 ['10418',
  'city_76',
  '0.698',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  '',
  '',
  '7',
  '100-500',
  'Pvt Ltd',
  '>4',
  '91'],
 ['9766',
  'city_83',
  '0.9229999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '5',
  '1000-4999',
  'Pvt Ltd',
  '2',
  '14'],
 ['1361',
  'city_103',
  '0.92',
  'Other',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '5',
  '',
  '',
  '1',
  '132'],
 ['19625',
  'city_97',
  '0.925',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'High School',
  '',
  '7',
  '50-99',
  'Pvt Ltd',
  '1',
  '31'],
 ['20943',
  'city_160',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '10000+',
  'Pvt Ltd',
  '>4',
  '8'],
 ['9561',
  'city_28',
  '0.9390000000000001',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '19',
  '',
  '',
  '2',
  '72'],
 ['4271',
  'city_13',
  '0.8270000000000001',
  '',
  'Has relevent experience',
  '',
  'Graduate',
  'STEM',
  '5',
  '<10',
  'Pvt Ltd',
  '2',
  '74'],
 ['2094',
  'city_64',
  '0.6659999999999999',
  'Female',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '18',
  '100-500',
  'Pvt Ltd',
  '>4',
  '43'],
 ['16931',
  'city_31',
  '0.807',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '15',
  '',
  '',
  '>4',
  '134'],
 ['27298',
  'city_21',
  '0.624',
  'Male',
  'No relevent experience',
  'no_enrollment',
  'Graduate',
  'Arts',
  '5',
  '<10',
  'Early Stage Startup',
  'never',
  '18'],
 ['26493',
  'city_136',
  '0.897',
  'Male',
  'No relevent experience',
  'Part time course',
  'Graduate',
  'STEM',
  '8',
  '',
  'Public Sector',
  '1',
  '124'],
 ['30745',
  'city_19',
  '0.682',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '8',
  '',
  '',
  '3',
  '80'],
 ['21052',
  'city_90',
  '0.698',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '2',
  '',
  '',
  'never',
  '9'],
 ['20723',
  'city_11',
  '0.55',
  'Male',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '<1',
  '50-99',
  'Pvt Ltd',
  '1',
  '188'],
 ['13539',
  'city_143',
  '0.74',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '13',
  '<10',
  'Pvt Ltd',
  '2',
  '182'],
 ['3214',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '1000-4999',
  'Pvt Ltd',
  '4',
  '282'],
 ['16230',
  'city_103',
  '0.92',
  '',
  'No relevent experience',
  'Full time course',
  'High School',
  '',
  '1',
  '',
  '',
  'never',
  '84'],
 ['25300',
  'city_160',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '7',
  '<10',
  'Early Stage Startup',
  '1',
  '59'],
 ['24018',
  'city_11',
  '0.55',
  'Male',
  'Has relevent experience',
  'Part time course',
  'Graduate',
  'STEM',
  '3',
  '10/49',
  'Pvt Ltd',
  '1',
  '116'],
 ['21833',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '20',
  '50-99',
  'Pvt Ltd',
  '>4',
  '34'],
 ['30632',
  'city_114',
  '0.9259999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '12',
  '50-99',
  'Pvt Ltd',
  '2',
  '64'],
 ['4334',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  '',
  'High School',
  '',
  '9',
  '',
  '',
  '2',
  '19'],
 ['22271',
  'city_100',
  '0.887',
  'Male',
  'No relevent experience',
  'Full time course',
  'Graduate',
  'Other',
  '15',
  '',
  '',
  '3',
  '77'],
 ['28776',
  'city_114',
  '0.9259999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '10000+',
  'Pvt Ltd',
  '>4',
  '56'],
 ['27769',
  'city_21',
  '0.624',
  'Male',
  'No relevent experience',
  'Full time course',
  'Masters',
  'STEM',
  '2',
  '',
  '',
  '1',
  '73'],
 ['25909',
  'city_67',
  '0.855',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '15',
  '100-500',
  'Pvt Ltd',
  '>4',
  '30'],
 ['31266',
  'city_114',
  '0.9259999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '9',
  '500-999',
  'Pvt Ltd',
  '>4',
  '66'],
 ['7973',
  'city_114',
  '0.9259999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '14',
  '10000+',
  'Pvt Ltd',
  '1',
  '10'],
 ['30867',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '3',
  '100-500',
  'Pvt Ltd',
  '1',
  '100'],
 ['22501',
  'city_75',
  '0.9390000000000001',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  '',
  '',
  '19',
  '10/49',
  'Pvt Ltd',
  '>4',
  '32'],
 ['2539',
  'city_13',
  '0.8270000000000001',
  'Male',
  'Has relevent experience',
  'Full time course',
  'Masters',
  'STEM',
  '10',
  '10000+',
  'Pvt Ltd',
  '4',
  '29'],
 ['26681',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'Business Degree',
  '>20',
  '10000+',
  'Pvt Ltd',
  '3',
  '8'],
 ['16184',
  'city_127',
  '0.745',
  '',
  'No relevent experience',
  'Full time course',
  'High School',
  '',
  '1',
  '',
  '',
  'never',
  '77'],
 ['3852',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '1000-4999',
  'Pvt Ltd',
  '>4',
  '28'],
 ['1680',
  'city_19',
  '0.682',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '19',
  '1000-4999',
  '',
  '4',
  '99'],
 ['3562',
  'city_114',
  '0.9259999999999999',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '>20',
  '1000-4999',
  'Pvt Ltd',
  '2',
  '41'],
 ['8488',
  'city_101',
  '0.5579999999999999',
  'Male',
  'Has relevent experience',
  'Part time course',
  'Masters',
  'STEM',
  '3',
  '',
  '',
  '2',
  '258'],
 ['8373',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '17',
  '1000-4999',
  'Pvt Ltd',
  '3',
  '144'],
 ['2934',
  'city_75',
  '0.9390000000000001',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Phd',
  'STEM',
  '>20',
  '1000-4999',
  'Pvt Ltd',
  '3',
  '328'],
 ['12919',
  'city_103',
  '0.92',
  'Female',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'Humanities',
  '4',
  '',
  '',
  '1',
  '47'],
 ['4386',
  'city_21',
  '0.624',
  'Male',
  'No relevent experience',
  'Full time course',
  'High School',
  '',
  '3',
  '<10',
  'Early Stage Startup',
  '2',
  '36'],
 ['22462',
  'city_21',
  '0.624',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '9',
  '10000+',
  'NGO',
  '1',
  '30'],
 ['13988',
  'city_103',
  '0.92',
  '',
  'Has relevent experience',
  'Part time course',
  'Masters',
  'STEM',
  '16',
  '10000+',
  'Pvt Ltd',
  '>4',
  '36'],
 ['21230',
  'city_103',
  '0.92',
  '',
  'No relevent experience',
  'no_enrollment',
  'High School',
  '',
  '3',
  '',
  '',
  '>4',
  '41'],
 ['26180',
  'city_139',
  '0.48700000000000004',
  'Male',
  'No relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '1',
  '10/49',
  'Pvt Ltd',
  'never',
  '64'],
 ['16658',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'Business Degree',
  '16',
  '50-99',
  'Pvt Ltd',
  '1',
  '55'],
 ['10324',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'Part time course',
  'Graduate',
  'STEM',
  '>20',
  '10000+',
  'Pvt Ltd',
  '2',
  '12'],
 ['20453',
  'city_27',
  '0.848',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '3',
  '50-99',
  'Pvt Ltd',
  'never',
  '4'],
 ['13485',
  'city_136',
  '0.897',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '11',
  '100-500',
  'Pvt Ltd',
  '2',
  '23'],
 ['33080',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '50-99',
  'Pvt Ltd',
  'never',
  '32'],
 ['25492',
  'city_103',
  '0.92',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '',
  '',
  '1',
  '10'],
 ['1319',
  'city_71',
  '0.884',
  'Male',
  'No relevent experience',
  'Part time course',
  'Graduate',
  'STEM',
  '<1',
  '',
  '',
  '>4',
  '18'],
 ['19146',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '18',
  '50-99',
  '',
  '1',
  '43'],
 ['29339',
  'city_67',
  '0.855',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Masters',
  'STEM',
  '15',
  '50-99',
  'Pvt Ltd',
  'never',
  '5'],
 ['33177',
  'city_16',
  '0.91',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '11',
  '50-99',
  'Pvt Ltd',
  '1',
  '8'],
 ['22143',
  'city_103',
  '0.92',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '>20',
  '5000-9999',
  'Pvt Ltd',
  '1',
  '34'],
 ['22264',
  'city_160',
  '0.92',
  '',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '6',
  '',
  '',
  '1',
  '58'],
 ['17034',
  'city_103',
  '0.92',
  '',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '5',
  '10000+',
  'Other',
  'never',
  '48'],
 ['27002',
  'city_21',
  '0.624',
  'Male',
  'Has relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '7',
  '50-99',
  'Pvt Ltd',
  '>4',
  '58'],
 ['21318',
  'city_103',
  '0.92',
  'Male',
  'Has relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '9',
  '1000-4999',
  'Pvt Ltd',
  '1',
  '7'],
 ['12308',
  'city_143',
  '0.74',
  '',
  'No relevent experience',
  'no_enrollment',
  'Graduate',
  'STEM',
  '10',
  '1000-4999',
  'Public Sector',
  '>4',
  '84'],
 ['842',
  'city_21',
  '0.624',
  'Male',
  'No relevent experience',
  'Full time course',
  'Graduate',
  'STEM',
  '7',
  '',
  '',
  '1',
  '12'],
 ['4926',
  'city_103',
  '0.92',
  'Male',
  'No relevent experience',
  'no_enrollment',
  'High School',
  '',
  '1',
  '',
  '',
  'never',
  '22'],
 ['3',
  'city_99',

# 3. What modes do File objects for reader and writer objects need to be opened in?

File objects need to be opened in read-binary ('rb') for reader objects and write-binary ('wb') for writer objects.

# 4. What method takes a list argument and writes it to a CSV file?

The writerow() method

# 5. What do the keyword arguments delimiter and line terminator do?

The delimiter argument changes the string used to separate cells in a row. 

The lineterminator argument changes the string used to separate rows.

# 6. What function takes a string of JSON data and returns a Python data structure?

json.loads()

In [ ]:
#