# Answer-1

In [ ]:
*       - (Expression)
'hello' - (Value)
-87.8   - (Value)
-       - (Expression)
/       - (Expression)
+       - (Expression)
6       - (Value)

# Answer-2

Difference between String and Variable

In [ ]:
String:
Strings are surrounded by either single quotation marks, double quotation marks or triple quotation marks.
Example:
    a = 'ineuron'
    b = "ineuron"
    c = '''ineuron'''

Variable:
A variable is a name given to a memory location. It is the basic unit of storage in a program. The value stored in a variable can be changed during program execution.
Example:
    a = "priyanka"
    b = 15                   #(a and b are variables.)
    print(a)
    print(b)

# Answer-3

Data Types

1. List

In [8]:
x = list(("apple", "banana", "cherry"))
print(x)

y= ["apple","banana","cherry"]
print(y)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [9]:
print(type(x))
print(type(y))

<class 'list'>
<class 'list'>

2. tuple

In [10]:
x = tuple(("apple", "banana", "cherry"))
print(x)

y = ("apple", "banana", "cherry")
print(y)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

In [11]:
print(type(x))
print(type(y))

<class 'tuple'>
<class 'tuple'>

3. Dict

In [16]:
x = {"name" : "priyanka" , "course" : "Full stack data science"}
print(x)

y = dict(name = "John", age = 36)
print(y)

{'name': 'priyanka', 'course': 'Full stack data science'}
{'name': 'John', 'age': 36}

In [17]:
print(type(x))
print(type(y))

<class 'dict'>
<class 'dict'>

# Answer-4

In [ ]:
Expression:
An expression is a combination of operators and operands that is interpreted to produce some other value.
There are numbers of Expression.

In [ ]:
Example:

In [ ]:
1. Integral Expressions

In [19]:
a = 13
b = 12.0
  
c = a + int(b)
print(c)

25

In [ ]:
2. Floating Expressions

In [20]:
a = 13
b = 5
  
c = a / b
print(c)

2.6

In [ ]:
3. Constant Expressions

In [21]:
x = 15 + 1.3
  
print(x)

16.3

# Answer-5

In [ ]:
Expression referring to anything that can be evaluated to produce a value.  In contrast, statements do not return anything.
Instead, they perform an action which introduces some form of state.

# Answer-6

In [23]:
bacon = 22
bacon + 1

23

# Answer-7

In [24]:
"spam" + "spamspam"

'spamspamspam'

In [26]:
"spam"  * 3   #Both returns the same value.

'spamspamspam'

# Answer-8

In [ ]:
we can't start giving variable an integer name.

# Answer-9

In [ ]:
The int(),float(),and str() functions will evaluate to the integer, floating-point number, and string  versions of the 
value passed to them.

# Answer-10

In [28]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [ ]:
The Expression causes an error because 99 is an integer, and only strings can be concatenated with other string.

In [30]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'